h1 { font-family: "Andale Mono", AndaleMono, monospace; 
	font-size: 24px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 26.4px; } 
h2 { font-family: "Andale Mono", AndaleMono, monospace; 
	font-size: 18px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 26.4px; } 
h3 { font-family: "Andale Mono", AndaleMono, monospace; 
	font-size: 14px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 15.4px; } 
p { font-family: "Andale Mono", AndaleMono, monospace; 
	font-size: 12px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 20px; } 
blockquote { font-family: "Andale Mono", AndaleMono, monospace; 
	font-size: 21px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 30px; } 
pre { font-family: "Andale Mono", AndaleMono, monospace; 
	font-size: 13px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 18.5714px; }

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black;
}